@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue-Bold.otf') format('opentype');
  font-weight: bold;
}@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue-Medium.otf') format('opentype');
  font-weight: 500;
}@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue-Regular.otf') format('opentype');
  font-weight: 400;
}

body {
  font-family: "Helvetica Neue";

}

h2 {
  font-weight: 500;
}

.carousel-cards h2 {
  font-size: 16px;
}

.carousel .slide {
  display: flex;
  justify-content: space-between;
}

.carousel-card {
  flex: 0 0 25%;
  padding: 8px;
  box-sizing: border-box;
}

.category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #f5f5f5;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
